<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.ait.a2_shoppinglist">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_grocery"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MainApplication">

        <activity
            android:name=".SplashActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateItemActivity"
            android:label="@string/title_activity_create_item"
            >
        </activity>
        <activity android:name=".TotalsActivity">

        </activity>
    </application>

</manifest>